aiohttp==3.5.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
discord==1.0.1
discord.py==1.2.5
idna==2.8
multidict==4.7.3
praw==6.5.0
prawcore==1.0.1
python-dotenv==0.10.3
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
update-checker==0.16
urllib3==1.25.7
websocket-client==0.57.0
websockets==6.0
wikipedia==1.4.0
yarl==1.4.2
